<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8"/>
  <meta name="keywords" content="AngularJS,LZW,compression,service,decompression"/>
  <title>AngularJS service for text compression / decompression using LZW algorithm</title>
  <link rel="stylesheet" href="demo/demo.css"/>
</head>
<body ng-app="app" ng-controller="Demo">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-3667863-12', 'indamix.github.io/angular-lzw');
  ga('send', 'pageview');
</script>
<h1>AngularJS service for text compression / decompression using LZW algorithm</h1>
<h2>Helps to save space in localStorage, sessionStorage, cookies etc.</h2>
<a href="https://github.com/Indamix/angular-lzw">View on GitHub</a>

<h2>Performance Examples</h2>

<div class="case" ng-repeat="c in cases">
  <h3>
    {{c.title}} x{{c.amount}}
    <span class="ex">Example: {{c.example}}</span>
  </h3>

  <div class="info">
    <dl>
      <dd>{{c.text.length}}</dd>
      <dt>Original size:</dt>
    </dl>
    <dl>
      <dd>{{c.compressed.length}}</dd>
      <dt>Compressed size:</dt>
    </dl>
    <dl>
      <dd class="savings">{{(100 * (1 - c.compressed.length / c.text.length)).toFixed(1)}}%</dd>
      <dt>Savings:</dt>
    </dl>
  </div>
  <textarea ng-model="c.text" disabled></textarea>
</div>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
<script src="angular-lzw.js"></script>
<script src="demo/demo.js"></script>
</body>
</html>